@font-face {
  font-family: "AmsiPro";
  src: url("../../assets/font/AmsiPro/AmsiPro-XLight.otf") format("otf");
  font-weight: 300;
}
@font-face {
  font-family: "AmsiPro";
  src: url("../../assets/font/AmsiPro/AmsiPro-XLightItalic.otf") format("otf");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "AmsiPro";
  src: url("../../assets/font/AmsiPro/AmsiPro-Light.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "AmsiPro";
  src: url("../../assets/font/AmsiPro/AmsiPro-LightItalic.otf") format("otf");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "AmsiPro";
  src: url("../../assets/font/AmsiPro/AmsiPro-Regular.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "AmsiPro";
  src: url("../../assets/font/AmsiPro/AmsiPro-Italic.otf") format("otf");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "AmsiPro";
  src: url("../../assets/font/AmsiPro/AmsiPro-SemiBold.otf") format("otf");
  font-weight: 600;
}
@font-face {
  font-family: "AmsiPro";
  src: url("../../assets/font/AmsiPro/AmsiPro-SemiBoldItalic.otf") format("otf");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "AmsiPro";
  src: url("../../assets/font/AmsiPro/AmsiPro-Bold.otf") format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "AmsiPro";
  src: url("../../assets/font/AmsiPro/AmsiPro-BoldItalic.otf") format("otf");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "AmsiPro";
  src: url("../../assets/font/AmsiPro/AmsiPro-Black.otf") format("otf");
  font-weight: 800;
}
@font-face {
  font-family: "AmsiPro";
  src: url("../../assets/font/AmsiPro/AmsiPro-BlackItalic.otf") format("otf");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: "AmsiPro";
  src: url("../../assets/font/AmsiPro/AmsiPro-Ultra.otf") format("otf");
  font-weight: 900;
}
@font-face {
  font-family: "AmsiPro";
  src: url("../../assets/font/AmsiPro/AmsiPro-UltraItalic.otf") format("otf");
  font-style: italic;
  font-weight: 900;
}
